/*--- LOGO ---*/

.toc-logo {
  width: 280px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}       

.toc-logo img {
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.summary > li:first-child {
  height: auto !important; 
}

/*--- Sidebar ---*/

.book .book-summary {
  background: #ddecffb1;
  width: 330px;
  position:absolute;
  top:0;
  left:-330px;
  border-right: none;
}

.book.with-summary .book-header.fixed {
  left: 330px;
}

.book.with-summary .book-body {
  left: 330px;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1e376d;
}

/* color when hovering */
.summary a:hover {  
  color: #35a89d !important;
} 

/* color for active links */
.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #8395ac !important;
  border-left: solid 5px;
  border-color: #1e376d;
  padding-left: 11px !important;
}  

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}


/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #fefefe;
}

.hero-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*
.page-inner {
  padding-top: 400px !important;
}
*/

/*_____ Boxes _____*/

.emphbox {
  padding: 1em;
  background: #f1f6f7;
  color: rgb(17, 17, 17);
  border: 2px solid rgba(216, 237, 247, 0.984);
  border-radius: 10px;
}
.center {
  text-align: center;
}

div.csl-entry {
  clear: both;
  margin-bottom: 15px;
}